body{
    background-color: black;
    color: #fff;
    margin-left: 40px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.image-view{
    height: 50px;
}
.btn-style{
    background: transparent;
    border: 2px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
}
.result{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 30px;
    margin-top: 30px;
}
.scoreBoard{
    margin-top: 40px;
}
.resetBtn{
    padding: 10px;
}
